  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300;400&family=Montserrat:wght@200;300&family=Nunito+Sans:opsz,wght@6..12,300&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

:root{
    background-color: #dec4bf;
    color: #49403C;
    --seg--bg--color: #F8F4F1;
    --main--color:#d87c6a;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    color: #49403C;
}
section{
    min-height: 100vh;
    padding: 10 rem 9% 2rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #DDC4C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 7.5rem;
    color: #936c5c;
    font-weight: 1200;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color:#fff8f2; 
    margin-left: 4rem;
    transform: .3s;
}
.navbar a:hover {
    color:#936c5c;
}
#menu{
    font-size: 3.6rem;
    color:#DDC4C0;
    display: none;
    
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-img img{
    width: 35vw;
    margin-top: 30%;
    margin-left: -10%;
    }

.inicio-content h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: #936c5c;
    margin-left: 10%;
    text-justify: center;
    text-align: center;
}

.inicio-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:#d68f66;
}

.inicio-content h1{
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Dancing Script', cursive;
    color: #d68f66;
    margin-left: 10%;
    text-align: center;

}
.inicio-content p{
    font-size: 1.6rem;
    margin-left: 10%;
    margin-right: 12%;
    text-align: justify;
  
}
.redes a{ 
    
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main--color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main--color);
   margin: 2rem 0rem 0rem 20rem;
   transition: 0.5s ease;
}
.redes a:hover{
    background: var(--main--color);
    color: #dec4bf;
    box-shadow: 0 0 1rem var(--main--color);
} 
.btn{
    display:inline-block;
    padding: 1rem 3rem;
    background: var(--main--color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main--color);
    font-size: 2rem;
    color:#DDC4C0;
    letter-spacing: .03rem;
    font-weight: 50;
    margin: 3.3rem 0rem 0rem 39rem;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}
.perfil{
    display: flex;
    justify-content: justify;
    align-items: center;
    gap: 2rem;
    background-color: #dec4bf;
}

.perfil-img img{
    margin-left: 15%;
    width: 70%; }
.perf{
    text-align: center;
    font-size: 3.5rem;
    color: #936c5c;
    font-family: 'Raleway', sans-serif;

}
.perfil-conte h2{
    text-align: left;
    line-height: 2.2;    
}
.perfil-conte h3{
    font-size: 2.4rem;
    font-family: 'Dancing Script', cursive;
    color: #d68f66;
}
.perfil-conte p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.experiencia{
    background-color:#936c5c;
    }

.experiencia h2{
    text-align: center;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 4rem;
    color:#DEC4BF;
    
}

.expero-conte{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.expero-conte .esfm{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem;
    overflow: hidden;
    display: flex;
}
.esfm img{
    width:100% ;
    transition: .5s ease;
}
.esfm:hover img{
    transform: scale(1.1);
}
.esfm .experiencia-porta{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 205, 205, 0.22), var(--main--color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.esfm:hover .experiencia-porta{
    transform: translateY(0%);
}

.experiencia-porta h4{
    font-size: 3rem;
    color:#0b0b0b
}
.experiencia-porta p{font-size: 1.6rem;
    margin: .3rem 0 1rem;
}